body {
    font-family: 'Caprasimo', cursive; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f9f9f9, #ccefff); 
    color: #333; 
    line-height: 1.6; 
}


h1 {
    text-align: center;
    margin: 20px 0;
    color: #008080; /* A professional blue shade */
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}


/* Map container styling */
#map {
    width: 90%; 
    height: 600px; 
    max-width: 1200px; 
    margin: 20px auto;
    border: 2px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: #eaeaea; 
}

#categoryCounters {
    position: absolute;
    top: 10px;
    left: 10px;
    
    color: black;
    padding: 10px;
    border-radius: 5px;
}

/* Add responsive styling */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; 
    }

    #map {
        height: 400px; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; 
    }

    #map {
        height: 300px; 
    }
}
